@charset "UTF-8";
*{
    margin: 0;
  
}
header{
    background-color: rgb(165, 99, 12);
}
main{
    background-color: beige;
}
footer{
    background-color: aquamarine;
}
.destaque{
    background-color: lightgreen;

}
/* Seletores por atributo */

/*  [type="text"]
    [name=

*/
input:hover{
    background-color: blue;
}
p + input{
    background-color: red;
}
article{
    width: calc(100%-60px)
    
}
aside{
    position: absolute;
    width: 60px;
    top: 0;
    left: 0;

    background-color: blanchedalmond;
}

footer{
    
    clear: both;
}